.mySlides {
  display: none; }
  .mySlides h1,
  .mySlides h2 {
    color: #e32823;
    width: 235px;
    font-family: Roboto;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    position: absolute;
    margin: 13% 0 0 13%; }
  .mySlides h2 {
    color: #ffffff;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    text-align: end;
    margin: 10% 0 0 5%; }
  .mySlides button {
    width: 104px;
    height: 38px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    position: absolute;
    margin: 28% 0 0 23%; }
  .mySlides .gsmBtn {
    margin: 21% 0 0 17%; }

img {
  vertical-align: middle; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 32px 15px 32px 15px;
  color: gray;
  font-weight: bold;
  font-size: 23px;
  background-color: #ffffff;
  opacity: 0.8; }

/* Position the "next button" to the right */
.next {
  right: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 25px; }

.activeDot {
  background-color: red;
  border-color: white; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px; } }
